name: Create single file build

on:
  push:
    branches: ["*"]
  workflow_dispatch:

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22" # Using latest Node 22 for 2026 compatibility

      - name: Install dependencies
        working-directory: Build
        run: npm i

      - name: Build
        working-directory: Build
        run: npm run build:single

      - name: Rename for distribution
        working-directory: Build/dist
        run: mv index.html floEditor.html

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: floEditor-Standalone
          path: Build/dist/floEditor.html
          if-no-files-found: error
